body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-input-font);
}

#body {
    --font:'Roboto Mono', monospace;
    --color-background:#12141c;
    --color-input: #1a1c26c7;
    --color-input-font: #c9c9c9;
    --color-line: #02ff85;
    --color-log-i: #36bbf4;
    --color-log-input: #a9e5d8;
    --color-text: #c9c9c9;
    --color-error:#ff5c5c;
    --color-selection: #2e2e34;
    --color-evend: #ff57b9;
    --color-warning: #ffdd57;
    --color-scrollbar: #2c2c2c80;
    --color-scrollbar-1: #61616136;
    --color-view: #808080;

    --d-color-server-github: #0caade;
    --d-color-folder: #1cc17d;
    --d-color-text: #000000;

    font-family: var(--font);
    line-height: 20px;

}

#input-content {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#input {
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: var(--font);
  color: var(--color-input-font);
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  height: 20px;
  background-color: var(--color-input);
  -webkit-backdrop-filter: saturate(100%) blur(20px);
  backdrop-filter: saturate(100%) blur(20px);
}

a {
    color: var(--color-text);
}

#content-log {
    margin-left: 10px;
}

#line {
    color: var(--color-line);
}

#log-i {
    color: var(--color-log-i);
}

#log-text-input {
    color: var(--color-text);
}

#log-input {
color: var(--color-log-input);
}

#error {
color: var(--color-error);
}

#text {
    color: var(--color-text);
}

::selection {
    background-color: var(--color-selection);
}

#evend {
    color: var(--color-evend);
}

#warning {
    color: var(--color-warning);
}

#d span{
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--d-color-text);
}

#view {
  background-color: var(--color-view);
  color: white;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-1);
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 1em;
    background: var(--color-scrollbar);
}